<div class="container">
    <section *ngFor="let specialty of listaSpecialties" style="display: flex;">
        <input type="text" [(ngModel)]="specialty.name" [value]="specialty.name" (keyup)="cambiarId(specialty.id)">

        <div>
            <button [disabled]="estaEditando(specialty.id)" (click)="editar(specialty)">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg>
            </button>
            <button (click)="borrar(specialty.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="15" y1="9" x2="9" y2="15"></line>
                    <line x1="9" y1="9" x2="15" y2="15"></line>
                </svg>
            </button>
        </div>
    </section>
    
    <form class="container_add" #specialtyForm="ngForm" (ngSubmit)="onSubmit(specialtyForm.value)">
        <input name="name" type="text" #name="ngModel" [(ngModel)]="specialty.name">
        <button type="submit" [disabled]="!specialtyForm.valid">Add</button>
    </form>
</div>