
// FLEX

.flex-structure-page {
    //display: grid;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-start {
    display: flex;
    align-items: start;
    justify-content: start;
}

.flex-end {
    display: flex;
    align-items: end;
    justify-content: end;
}

.flex-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {

}

// OTHERS

.round-borders (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}