main {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    top: 50%;
    transform: translateY(-60%);
    position: absolute;

    div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5em;

        h1 {
            letter-spacing: 3px;
            font-weight: bold;
            margin-bottom: 20px;
            font-size: 3.5em;
        }

        p {
            margin: 10px 0;
            font-size: 1.5em;
        }
    }
}

img {
    width: 500px;
    border-radius: 50%;
}