<main>
    <div>
        <img src="assets/img/logo.png">
    </div>
    <div>
        <h1>FIABLE, FÁCIL Y EFICIENTE</h1>
        <p>El software preferido por los profesionales veterinarios que desean ahorrar tiempo y hacer crecer su negocio.</p>
        <p>Tanto si eres veterinario a domicilio, como si tienes un gran hospital o tienes un negocio con varias clínicas. Petclinic es para ti.</p>
        <p>Los recordatorios se personalizan y se envían automáticamente desde Petclinic al WhatsApp del cliente. Sin coste, rápido, moderno.</p>
    </div>
</main>