
<div>
    <table border="1">
        <thead>
            <th>First name</th>
            <th>Second name</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr *ngFor="let owner of listaOwners">
                <td routerLink="/owner/{{owner.id}}">{{ owner.firstName }}</td>
                <td routerLink="/owner/{{owner.id}}">{{ owner.lastName }}</td>
                <td class="buttonEdit" routerLink="/form-owner/{{owner.id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg>
                </td>
                <td class="buttonDelete" (click)="deleteOwner(owner.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="15" y1="9" x2="9" y2="15"></line>
                        <line x1="9" y1="9" x2="15" y2="15"></line>
                    </svg>
                </td>
            </tr>
        </tbody>
    </table>

    <button routerLink="/form-owner/-1">
        Añadir Owner
    </button>
</div>