
<h1>Detalles de: {{pet.name}}</h1>

<p>Cumpleaños: {{pet.birthDate | date: 'dd/MM/yyyy'}}</p>
<p>Tipo: {{pet.type.name}}</p>

<button routerLink="/form-pet/{{pet.owner.id}}/{{pet.id}}">Modificar</button>

<button (click)="borrarPet()">Borrar</button>
<button>Añadir nueva visita</button>

<section *ngFor="let visit of visitsPet">
    <app-visit-list [visitInp]="visit"></app-visit-list>
</section>

<form #visitForm="ngForm" (ngSubmit)="onSubmit(visitForm.value)">
    <input name="petId" type="hidden" #petId="ngModel" [(ngModel)]="visit.petId" [value]="petInp.id">
    <input placeholder="description" name="description" #description="ngModel" [(ngModel)]="visit.description" type="text">
    <input placeholder="visit date" name="visitDate" type="date" #visitDate="ngModel" [(ngModel)]="visit.visitDate">
    <input type="submit" [disabled]="!visitForm.valid" value="Enviar">
</form>
<hr>