@import '../styles.less';

header {
    .flex-between();
    padding: @padding-md;
    width: 100%;
    background-color: @primary;
}

h1 {
    font-size: 2.5em;
    font-variant: small-caps;
    color: @light;
}

ul {
    .flex-around();
    width: 50%;
}

a {
    color: @light;
}