<header>
    <h1>{{nombrePag}}</h1>
    <ul>
        <li><a (click)="cambiarTitulo('Home')" routerLink="/">HOME</a></li>
        <li><a (click)="cambiarTitulo('Owners')" routerLink="/owners">OWNERS</a></li>
        <li><a (click)="cambiarTitulo('Vets')" routerLink="/veterinarios">VETS</a></li>
    </ul>
</header>


<router-outlet></router-outlet>

<footer class="footer">
    <div>
        <p>Jesús Daza Hernández</p>
        <p>Cursando: 2º Desarrollo de Aplicaciones Web</p>
        <p>Asignatura: Desarrollo Entorno Cliente</p>
    </div>
    <div>
        <h3>Taller Angular</h3>
        <h4>Bienvenido al taller de Angular</h4>
        <p>Bienvenido a nuestro taller de Angular. Espero que le guste el resultado y la experiencia de aprender con este taller</p>
    </div>
</footer>