<form style="border: 1px solid black" #visitForm="ngForm" (ngSubmit)="onSubmit(visitForm.value)">
    <input name="petId" type="hidden" #petId="ngModel" [(ngModel)]="visit.petId" [value]="visitInp.petId">
    <input name="visitDate" type="date" #visitDate="ngModel" [(ngModel)]="visit.visitDate">
    <input name="description" #description="ngModel" [(ngModel)]="visit.description" type="text" >
    <button  type="submit" [disabled]="!visitForm.valid">Modificar</button>
</form>
<button>Borrar</button>
