/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&family=Montserrat:wght@300&display=swap');
/* IMPORTS */

/* BASE -- BASIC STYLES LIKE TYPOGRAPHY AND RESET */
@import 'less/base/reset.less';
@import 'less/base/typography.less';

/* ABSTRACTS -- EXAMPLE: FUNCTIONS, MIXINS, VARIABLES... */
@import 'less/abstracts/variables.less';
@import 'less/abstracts/mixins.less';
@import 'less/abstracts/functions.less';

/* COMPONENTS -- STYLE COMPONENTS LIKE BUTTONS, INPUTS, CONTAINERS... */
@import 'less/components/buttons.less';
@import 'less/components/table.less';

/* LAYOUT -- RESPONSIVE STYLES FOR HEADER, MAIN, FOOTER... */

/* PAGES --  FOR SPECIFIC STYLES OF DIFFERENT PAGES */

/* GLOBAL */

html, body {
    width: 100%;
    .flex-structure-page();
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 120px;
}